.app__navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--color-black);
    padding: 1rem 2rem;
}

.app__navbar-logo {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.app__navbar-logo img {
    width: 150px;
}

.app__navbar-links {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
}

.app__navbar-links li {
    list-style: none;
    padding: 0 4rem;
    cursor: pointer;
}

.app__navbar-links li:hover {
    color: #DCCA87;
}

.app__navbar-login  {
    display: flex;
    justify-content: flex-end;

}

.app__navbar-login button {
    background: var(--color-black);
    border-color: #ddb214;
    padding: 1px 6px;
    border-radius: 60px;
    margin: 0 3px;
    cursor: pointer;
    
}

.app__navbar-login button:hover {
    background-color: #ddb214;
}


  


